In [3]:
#String concatenation
str = 'Coding', 'For' , 'All'
concat_str = 'Coding' + ' For' + ' All'
concat_str

'Coding For All'

In [ ]:
#String concatenation
str = 'Thirty', 'Days', 'Of', 'Python'
concat_str = 'Thirty'  + 'Days'+ 'Of'+ 'Python'
concat_str

'ThirtyDaysOfPython'

In [35]:
company = "Coding For ALL"
print(company)
print(len(company))
print(company.upper())
print(company.lower())
print(company.capitalize())
print(company.title())
print(company.swapcase())
print(company[0:6])
print(company.find('Coding'))
print(company.replace('Coding', 'python'))

Coding For ALL
14
CODING FOR ALL
coding for all
Coding for all
Coding For All
cODING fOR all
Coding
0
python For ALL

In [38]:
str1 = 'Python for everyone'
print(str1.replace('everyone', 'all'))

Python for all

In [ ]:
comopany = 'Coding for all'
print(company.split())

['Coding', 'For', 'ALL']

'Facebook Google Microsoft Apple IBM Oracle Amazon'

In [47]:
company = 'Facebook Google Microsoft Apple IBM Oracle Amazon'
print(company.split())

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

In [52]:
print('Name\t' 'age\t' 'Country\t' 'City')
print('Saba\t' '25\t' 'India\t' 'Hubli\t' )

Name	age	Country	City
Saba	25	India	Hubli