In [2]:
def sum(num1, num2):
    return num1 + num2

print("sum=", sum(10, 45))

sum= 55

In [3]:
def area_of_circle(r):
    pi = 3.14
    return pi * r * r

print("area of circle", area_of_circle(15))

area of circle 706.5

In [1]:
for num in range(11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
num = 0
while num <= 10:
    print(num)
    num = num + 1

0
1
2
3
4
5
6
7
8
9
10

In [33]:
num = 10
while num >= 0:
    print(num)
    num = num - 1

10
9
8
7
6
5
4
3
2
1
0

In [34]:
for num in range(10, 0, -1):
    print(num)

10
9
8
7
6
5
4
3
2
1

In [38]:
count = 1
while count >=10:
    print('#')
    count = count + 1

In [39]:
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

In [44]:
for i in range(1, 8):
    for j in range(1, 8):
        print('#', end ='')
    print()

#######
#######
#######
#######
#######
#######
#######

In [45]:
for i in range(11): 
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [47]:
lst = ['python', 'Numpy', 'Pandas', 'Django', 'Flask']
for item in lst:
    print(item)

python
Numpy
Pandas
Django
Flask

In [ ]:
for i in range(100):
    if i % 2 ==0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [ ]:
sum = 0
for i in range(101):
    sum += i
    print(sum)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [76]:
fruits = ['banana', 'orange', 'mango','lemon']
for fruit in reversed(fruits):
    print(fruit)

fruits_reversed = fruits[::-1]  # Reverse the list
print(fruits_reversed)

lemon
mango
orange
banana
['lemon', 'mango', 'orange', 'banana']

In [125]:
from countries_data import countries_data

all_languages = set()  # Using a set to store unique languages

for country in countries_data:
    all_languages.update(country['languages'])  # Add languages from each country

print("Total number of languages:", len(all_languages))

Total number of languages: 112

In [79]:
from collections import Counter

language_counter = Counter()

for country in countries_data:
    language_counter.update(country['languages'])  # Count occurrences of each language

# Get the 10 most common languages
most_spoken_languages = language_counter.most_common(10)

print("Top 10 most spoken languages:")
for language, count in most_spoken_languages:
    print(f"{language}: {count}")

Top 10 most spoken languages:
English: 91
French: 45
Arabic: 25
Spanish: 24
Portuguese: 9
Russian: 9
Dutch: 8
German: 7
Chinese: 5
Serbian: 4

In [80]:
# Sort countries by population in descending order
most_populated_countries = sorted(countries_data, key=lambda x: x['population'], reverse=True)[:10]

print("Top 10 most populated countries:")
for country in most_populated_countries:
    print(f"{country['name']}: {country['population']}")

Top 10 most populated countries:
China: 1377422166
India: 1295210000
United States of America: 323947000
Indonesia: 258705000
Brazil: 206135893
Pakistan: 194125062
Nigeria: 186988000
Bangladesh: 161006790
Russian Federation: 146599183
Japan: 126960000

In [98]:
lst = [1,2,3,4,5]
for i, value in enumerate(lst[:]):
    if value == 2: 
        lst.remove(value)
    else:
        print(value)

1
3
4
5

In [ ]:
from countrylist import countriess

for country in countriess:
    if("land" in country):
        print(country)

Finland
Iceland
Ireland
Marshall Islands
Netherlands
New Zealand
Poland
Solomon Islands
Swaziland
Switzerland
Thailand