In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import urllib
from bson.objectid import ObjectId

# Your credentials (Replace with actual credentials)
username = "root"
password = "root@1234"

# Encode the username and password
encoded_username = urllib.parse.quote_plus(username)
encoded_password = urllib.parse.quote_plus(password)

uri = f"mongodb+srv://{encoded_username}:{encoded_password}@training-cluster.f8tfi.mongodb.net/?retryWrites=true&w=majority&appName=training-cluster"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

db = client.student_data

In [2]:
db

Database(MongoClient(host=['training-cluster-shard-00-00.f8tfi.mongodb.net:27017', 'training-cluster-shard-00-02.f8tfi.mongodb.net:27017', 'training-cluster-shard-00-01.f8tfi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='training-cluster', authsource='admin', replicaset='atlas-o023cw-shard-0', ssl=True, server_api=<pymongo.server_api.ServerApi object at 0x00000252E31196A0>), 'student_data')

In [4]:
db.list_collection_names()

['students']

In [8]:
collection = db.students
collection

Collection(Database(MongoClient(host=['training-cluster-shard-00-00.f8tfi.mongodb.net:27017', 'training-cluster-shard-00-02.f8tfi.mongodb.net:27017', 'training-cluster-shard-00-01.f8tfi.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='training-cluster', authsource='admin', replicaset='atlas-o023cw-shard-0', ssl=True, server_api=<pymongo.server_api.ServerApi object at 0x00000252E31196A0>), 'student_data'), 'students')

In [13]:
db.students.find_one({"_id" : ObjectId("67c18cedc3d66f819d79bb1a")})

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'),
 'name': 'Asabeneh',
 'country': 'Finland',
 'city': 'Helsinki',
 'age': 250}

In [11]:
for i in collection.find():
    print(i)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('67c18ef718599724bd62a463'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [12]:
collection.find_one({"_id" : ObjectId("67c18cedc3d66f819d79bb1a")})

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'),
 'name': 'Asabeneh',
 'country': 'Finland',
 'city': 'Helsinki',
 'age': 250}

In [ ]:
# 0 - dont print 1 - print
students = db.students.find({}, {"_id":0,  "name": 1, "country":1}) # 0 means not include and 1 means include
for student in students:
    print(student)

{'name': 'Asabeneh', 'country': 'Finland'}
{'name': 'David', 'country': 'UK'}
{'name': 'John', 'country': 'Sweden'}
{'name': 'Sami', 'country': 'Finland'}

In [35]:
collection = db.students.find()
for collection in students:
    print(collection)

_id
name
country
city
age

In [41]:
query = {
    "country":"Finland"
}
students = db.students.find(query)

for i in students:
    print(i)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [ ]:
# find
query = {
    "age": 25,
    "city": "Helsinki"
}

students = db.students.find(query)
for i in students:
    print(i)

{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [ ]:
# find age > 30
query = {
    "age":{"$gt": 30}
}

student = db.students.find(query)
for i in student:
    print(i)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}

In [ ]:
#Ascending order
students = db.students.find().sort('name')
for i in students:
    print(i)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('67c18ef718599724bd62a463'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [ ]:
# Descending order
students = db.students.find().sort('name', -1)
for student in students:
    print(student)

{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'_id': ObjectId('67c18ef718599724bd62a463'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}

In [ ]:
# update
query = {"age":250}
new_value = {"$set":{"age":30}}

db.students.update_one(query, new_value)
for student in db.students.find():
    print(student)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 30}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('67c18ef718599724bd62a463'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [ ]:
query = {'name':'John'}
db.students.delete_one(query)

In [79]:
for student in db.students.find():
    print(student)

{'_id': ObjectId('67c18cedc3d66f819d79bb1a'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 30}
{'_id': ObjectId('67c18ef518599724bd62a462'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('67c18ef718599724bd62a464'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}